<!-- templates/post_detail.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
    {% block content %}
        <div class="post-entry">
            <h2>{{ object.title }}</h2>
            <p>Year Published: {{ object.year_published }}</p>
            <p>Synopsis: {{ object.synopsis }}</p>
            
        </div>
        <hr>
        <h4>Reviews</h4>
        {% for review in book.review_set.all %}
        <p>{{ review.user }} &middot; {{ review }} &middot; {{ review.stars }}</p>
        <p>{{ review.content }}</p>
        {% endfor %}
        <hr>
        <h4>Add a review</h4>
            <form action="" method="post">{% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success ml-2" type="submit">Save</button>
            </form>
    {% endblock content %}
